@import "./reset.css";

@font-face {
    font-family: 'Gilam';
    src: url(../fonts/gilam-bold.woff)format(woff),
    url(../fonts/Gilam-Bold.woff2)format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilam';
    src: url(../fonts/gilam-regular.woff) format(woff),
    url(../fonts/Gilam-Regular.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilam';
    src: url(../fonts/Gilam-Book.woff) format(woff),
    url(../fonts/Gilam-Book.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* start */

.container {
    max-width: 1920px;
    font-family: 'Gilam' ,sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background: #171717;
    margin: 0 auto;
}
.content {
    width: 1460px;
    margin: auto;
}

/* start logo and tel block */

.header {
    font-family: 'Gilam';
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-items: end;
    padding: 37px 0 120px;
}
.header img {
    justify-self: flex-start;
}
.header span {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #D6AF76;
}
.header p {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    padding-right: 39px;
}
.header a {
    text-decoration: none;
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 25px;
    border: 1px solid #E4B564; ;  
}
.header a:before {
    content: url(../image/icons/Tel.png);
    padding-right: 8px;
}

/* start header-text */

.title {
    font-family: 'Gilam';
    line-height: 28px;
}
.title h2 {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}
.title p {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 41px 0;
}

/* start first grid block */

.first-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
    margin-bottom: 50px;
}

.type {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.job-one {
    grid-column: 1 / span 2;
    background-color: #634F2C;
}

.job-two {
    grid-column: 3 / span 2;
    background-color: #B4A385;
    text-align: center;
    padding: 0 44px;
}
.job-three {
    grid-column: 5 / span 2;
    background-color: #E4B564;
}
.job-four {
    grid-column: 1 / span 3;
    background-color: #635A4A;;
}
.job-five {
    grid-column: 4 / span 3;
    background-color: #B08C4D;;
}

.job-one,
.job-two, 
.job-three,
.job-four,
.job-five {
    display: grid;
    align-items: center;
    justify-content: center;
}

.first-grid {
    padding-bottom: 53px;
}
/* start next section */

.title-center {
    padding: 161px 0 94px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

/* start main-content */


.park {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 400;
    height: 1000px;
    column-gap: 2%;
    row-gap: 20px;
    transform: translateZ(0px);
}

.park__item1 {
    width: 32%;
    height: 313px;
    background: #0E0E0E;
    
}
.park__item1 p {
    font-weight: bold;
}
.park__item2 {
    width: 32%;
    height: 560px;
    background: #1F1F1F;
}
.park__item2 p {
    font-weight: bold;
}
.park__item3 {
    width: 32%;
    height: 439px;
    background: #242424;
}
.park__item4 {
    width: 32%;
    height: 405px;
    background: #E4B564;
}
.park__item5 {
    width: 32%;
    height: 255px;
    background: #1F1F1F;
}
.park__item6 {
    width: 32%;
    height: 313px;
    background: #0E0E0E;
}
.park__item7 {
    width: 32%;
    height: 277px;
    background: #0A0909;
}

.park li {
    box-sizing: border-box;
    padding-top: 44px;
    padding-left: 52px;
}
.main-content{
    margin-bottom: 190px;
}
.clients {
    display: flex;
    justify-content: space-between;
    margin-top: 172px;
    
}
.clients h2 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    
}
.clients a {
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
    border: 1px solid #E4B564; 

}

/* start footer block */

.footer-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 390px 390px;
    margin-top: 61px;
    padding-bottom: 230px;
}
.footer-item1{
    background: #634F2C;
}
.footer-item2 {
    background: rgba(232, 210, 171, 0.76);
    
}
.footer-item2 p {
    max-width: 274px;
}
.footer-item2 .address-info {
    max-width: 280px;
}

.footer-item3 {
    background: #E4B564;
}

.footer-item4{
    background: #635A4A;

}
.footer-item5{
    background: #B08C4D;
    position: relative;
}

.footer-item6{
    background: #634F2C;
}
.footer-block li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.adress {
    font-weight: 600;
    font-style: 22px;
    line-height: 28px;
    max-width: 320px;
}